<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.css" />
</head>
<body>
    <section class="hero is-dark">
        <div class="hero-body">
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{weather.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{weather.locationName}}</span>
                                        <br>
                                        <span class="subtitle">{{weather.temperature}}° F</span>
                                        <br>
                                        <span class="subtitle">{{weather.temperatureC}}° C</span>
                                        <br>
                                        <span class="subtitle">{{weather.description}}</span>
                                        <br>
                                        <span class="subtitle">Wind speed: {{weather.windSpeed}} direction: {{weather.windDirection}}</span>
                                        <br>
                                        <span class="subtitle">Sunrise at {{weather.sunrise}}</span>
                                        <br>
                                        <span class="subtitle">Say goodbye to the sun at {{weather.sunset}}</span>
                                        <br>
                                        <span class="subtitle">Requested time: {{weather.requestedTime}}</span>
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>
</html>
